{% extends 'base.html.twig' %}

{% block title %}{{ episode.title }}{% endblock %}

{% block body %}
    <div class="mt-5 ml-5 mb-5 mr-5">
        <h1 class="text-center">{{ episode.title }}</h1>

        <p><u>Episode numéro</u> : {{ episode.number }}</p>
        <p><u>Résumé</u> :</p>
        <p class="text-justify">{{ episode.synopsis }}</p>
        <a href="{{ path('lander_show_season', { 'id' : season.id }) }}" class="mt-5 btn btn-custom">
            Retour à la saison
        </a>

        <div class="container mt-3 mb-3">
            {% for comment in comments %}
                <p class="text-justify"><u>Commentaire {{ loop.index }}</u> : {{ comment.comment }} </p>
            {% endfor %}
        </div>

            <div class="container mt-3 mb-3">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-lg btn-custom mt-3">{{ button_label|default('Ajouter le commentaire') }}</button>
                {{ form_end(form) }}
            </div>
    </div>
{% endblock %}