{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <h1 class="text-center mt-5 mb-5"> {{ program.title }} </h1>
    <div class="mt-5 mr-5 mb-5 ml-5 d-flex flex-program">
        <div class="program-poster">
            <img src="{{ program.poster }}" class="poster-size">
        </div>
        <div class="program-text">
            <p> Programme dans la catégorie : {{ program.category.name }}</p>
            <p>Nombre de saisons : {{ number_of_seasons }}</p>
            {% for season in seasons %}
                <a href="#" class="btn btn-custom">Saison {{ loop.index }}</a>
            {% endfor %}
            <p class="mt-2 actors-program"> Liste des acteurs : </p>
            <ul class="actors-program">
                {% for actor in actors %}
                    <li>{{ actor.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}