{% extends 'program/email/layout.html.twig' %}

{% block body %}
    <style>
        body {
            font-family: 'Gupter', serif;
            font-size: 1.5rem;
            background-color: #000;
            color: #FFF;
        }
        h1 {
            color: #F01D21;
            font-size: 5rem;
            font-family: 'Cinzel', serif;
        }
        .btn-custom {
            background-color: #F01D21;
            color: #000;
            font-weight: bold;
            padding: 10px;
            border-radius: 20px;
            text-decoration: none;
        }
        .btn-custom:hover {
             color: #FFF;
             box-shadow: 5px 5px 5px #FFF;
         }
        .separator{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        img {
            width: 50vw;
        }

    </style>

    <h1>Ajout d'une nouvelle série !</h1>

    <div class="separator">
        <div>
            <p>Envoyé par : {{ name }}</p>
            <p>Titre de la série: {{ program.title }}</p>
            <p>Program de la catégorie : {{ program.category.name }}</p>
        </div>
        <div>
            <img src="{{ program.poster }}" alt="{{ program.title }}">
        </div>
    </div>

    <a href="{{ url('lander_show_program', {'slug': program.slug} )  }}" class="btn-custom">lien vers la série</a>
{% endblock %}